<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="cubo.component.css">
</head>
<body class="align">

    <div class="cube animation animation--infinite animation--spin">
      <div class="cube__side cube__side--front"><a [href]="redes[0].url"><img [src]="FILE_URL + redes[0].foto"></a></div>
      <div class="cube__side cube__side--back"><a [href]="redes[1].url"><img [src]="FILE_URL + redes[1].foto"></a></div>
      <div class="cube__side cube__side--top"><a [href]="redes[2].url"><img [src]="FILE_URL + redes[2].foto"></a></div>
      <div class="cube__side cube__side--bottom"><a [href]="redes[3].url"><img [src]="FILE_URL + redes[3].foto"></a></div>
      <div class="cube__side cube__side--left"><a [href]="redes[4].url"><img [src]="FILE_URL + redes[4].foto"></a></div>
      <div class="cube__side cube__side--right"><a [href]="redes[5].url"><img [src]="FILE_URL + redes[5].foto"></a></div>
    </div>
  
  </body>
</html>
