body {
    background-color: black;
    overflow-x: hidden !important;

}

.banner {
    position: relative;
    width: 100vw;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.banner::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../../assets/banner1.jpg) no-repeat center center/cover;
    filter: brightness(60%);
}

.banner-content {
    position: relative;
    font-family: "Monserrat", sans-serif;
    color: white;
    text-align: center;
    margin: 0.625rem;
}
.banner-title {
    font-size: 5rem;
    font-weight: 600;
    margin-bottom: 0;
}
.banner-subtitle {
    font-size: 1.25rem;
    font-weight: 500;
    margin-top: 1rem;
    
}

.cita {
    min-height: 152px;
    width: 800px;
    margin: 77px auto 0;
}

.p-icon path{
    color: antiquewhite;
}

app-cubo {
    position: fixed;
    left: 90%;
    top: 85%;
}